name: Revision de Sintaxis PHP

on: [push]

jobs:
  verificar-sintaxis:
    runs-on: ubuntu-latest
    steps:
      - name: Descargar tu código (Checkout)
        uses: actions/checkout@v4

      - name: Instalar PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'

      - name: Ejecutar Linter (Modo Estricto)
        run: |
          find . -name "*.php" -print0 | xargs -0 -n1 php -l

      - name: Ejecutar Tests
        run: php tests.php

  construir-y-publicar:
    needs: verificar-sintaxis
    runs-on: ubuntu-latest
    steps:
      - name: Descargar el código
        uses: actions/checkout@v4

      - name: Login en Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Construir y subir
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME}}/calculatorcli:latest

  despliegue:
    needs: [verificar-sintaxis, construir-y-publicar]
    runs-on: self-hosted
    steps:
#      - name: Descargar el código
#        uses: actions/checkout@v4

#      - name: Construir la imagen
#        run: docker build -t calculatorcli-prod .

      - name: Login en Docker Hub
        run: echo "${{ secrets.DOCKERHUB_PASSWORD}}" | docker login -u ${{ secrets.DOCKERHUB_USERNAME}} --password-stdin

      - name: Actualizar contenedor
        run: |
          docker stop calculatorcli-prod || true
          docker rm calculatorcli-prod || true
          # Descargamos usando secrets
          docker pull ${{ secrets.DOCKERHUB_USERNAME}}/calculatorcli:latest
          docker run --name calculatorcli-prod ${{ secrets.DOCKERHUB_USERNAME }}/calculatorcli:latest
