name: Revision de Sintaxis PHP

on: [push]

jobs:
  verificar-sintaxis:
    runs-on: ubuntu-latest
    steps:
      - name: Descargar tu c贸digo (Checkout)
        uses: actions/checkout@v4

      - name: Instalar PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'

      - name: Ejecutar Linter (Modo Estricto)
        run: |
          find . -name "*.php" -print0 | xargs -0 -n1 php -l

      - name: Ejecutar Tests
        run: php tests.php

  construir-imagen:
    runs-on: ubuntu-latest
    steps:
      - name: Descargar el c贸digo
        uses: actions/checkout@v4

      - name: Construir imagen Docker
        run: docker build -t calculadora-cli .

  despliegue:
    needs: [verificar-sintaxis, construir-imagen]
    runs-on: self-hosted
    steps:
      - name: Descargar el c贸digo
        uses: actions/checkout@v4

      - name: Construir la imagen
        run: docker build -t calculatorcli-prod .

      - name: Despliegue de contenedor
        run: |
          echo " Desplegando en el servidor..."
          docker run --rm calculatorcli-prod
          echo " 隆Ejecuci贸n en servidor completada con 茅xito!"
