name: Pipeline CI/CD

on:
  push:
    branches: ["main"]
    tags: ["v*.*.*"]
  pull_request:
    branches: ["main"]

jobs:
  quality-control:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'
      - run: find . -name "*.php" -print0 | xargs -0 -n1 php -l

  unit-tests:
    needs: quality-control
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: php tests.php

  build-push:
    needs: unit-tests
    if: startsWith(github.ref, 'refs/tags/v')
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Construir y subir a DockerHub
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/calculatorcli:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/calculatorcli:${{ github.ref_name }}

  deploy:
    needs: build-push
    if: startsWith(github.ref, 'refs/tags/v')
    runs-on: self-hosted
    steps:
      - name: Deploy on Server
        run: |
          # Login
          echo "${{ secrets.DOCKERHUB_PASSWORD}}" | docker login -u ${{ secrets.DOCKERHUB_USERNAME}} --password-stdin
          # Limpieza
          docker stop calculatorcli-prod
          docker rm calculatorcli-prod
          # Usamos la versión específica del tag para mayor seguridad
          docker pull ${{ secrets.DOCKERHUB_USERNAME}}/calculatorcli:${{ github.ref_name }}
          # Lanzamos el contenedor
          docker run -d --name calculatorcli-prod ${{ secrets.DOCKERHUB_USERNAME }}/calculatorcli:${{ github.ref_name }} tail -f /dev/null
